body {
    margin: 0;
    padding: 0;
    background-color: #b71c1c !important;
    font-family: "Gloria Hallelujah", "Noto Sans", sans-serif;
    font-size: 20px;
}

h2 {
    text-align: center;
    color: #ff9800 !important;
    font-family: 'Noto Sans', sans-serif;
}

#header {
    z-index: 2;
    position: fixed;
    background-color: #d32f2f !important;
    top: 0;
    height: 80px;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: none;
}
#logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
}
#nav {
    display: block;
    float: left;
    height: 80px;
}
#nav ul {
    display: block;
    margin: 0;
    padding: 0;
}

#nav ul li {
    display: block;
    float: left;
    height: 80px;
    width: 130px;
    padding: 0;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.nav_button {
    display: block;
    height: 80px;
    width: 130px;
    text-decoration: none;
    line-height: 80px;
    color: #000000;
}
.nav_button:hover {
    background-color: #f57c00;
}
.active {
    background-color: #ff9800;
}

main {
    margin-top: 80px;
}

.home img {
    position: relative;
    width: 100%;
}

.home p {
    z-index: 1;
    position: absolute;
    text-align: center;
    color: #ff9800;
    font-size: 3em;
    font-family: 'Gloria Hallelujah', sans-serif;
}

.table {
    display: table;
    margin: 0, auto;
    text-align: center;
}
#h_list {
    list-style-type: none;
}

#h_list li {
    display: inline-block;
    margin: 10px;
}

#h_list img {
    height: 150px;
}


.contact form {
    margin: 20px;
    text-align: center;
}

.contact input {
    color: #ff9800;
    font-family: 'Noto Sans', sans-serif;
}

.contact button {
    color: #ff9800;
}

.contact img {
    position: relative;
    width: 100%;
}

.contact p {
    z-index: 1;
    position: absolute;
    text-align: center;
    color: #ff9800;
    font-size: 3em;
    font-family: 'Gloria Hallelujah', sans-serif;
}

.about {
    margin-top: 20px;
}
.about img {
    position: relative;
    width: 100%
}

.about p {
    position: absolute;
    z-index: 1;
    text-align: center;
    color: #ff9800;
    font-size: 3em;
    font-family: 'Gloria Hallelujah', sans-serif;
}

footer {
    margin-top: 20px;
    text-align: center;
}

footer ul li {
    display: inline-block;
    list-style-type: none;
}

footer a {
    font-size: 3em;
    color: #ff9800;
}

footer a:hover {
    color: #f57c00;
}

footer p {
    font-size: 1em;
    color: #ff9800;
    font-family: 'Noto Sans', sans-serif;
}
