.mdl-card {
  max-width: 100%;
  margin: 2% auto;
}
.card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.mdl-grid, .mdl-cell {
  justify-content: center;
}

h3 {
  text-align: center;
}

body {
  background-color: #90CAF9;
}
