body {
    background-color: #ff5722;
    font-family: 'Noto Sans', sans-serif;
}
.card-wide.mdl-card{
    margin: 10% auto auto auto;
}
.card-wide > .mdl-card__title {
    color: #ff5722;
    min-height: 300px;
    background: url('../images/Julius_Caesar.jpg') center / cover;
}
.mdl-card__title-text {
    font-weight: bold;
}
.card-wide > .mdl-card__menu {
    color: #ff5722;
}
.card-wide > .mdl-card__supporting-text {
    color: #ff5722;
    font-size: 1em;
}
#new-quote {
    float: right;
    color: #fff;
}
#new-quote:hover {
    opacity: 0.8;
}
