@media screen and (max-width: 320px) {
  .game_board {
    transform: scale(0.7);
    transform-origin: 0 0;
    left: 50%;
    margin-left: -155px !important;
  }
}

@media screen and (min-width: 321px) and (max-width: 470px) {
  .game_board {
    transform: scale(0.8);
    transform-origin: 0 0;
    left: 50%;
    margin-left: -178px !important;
  }
}

body {
  background: #00bcd4;
}

.game_board {
  width: 436px;
  height: 436px;
  margin: auto;
  margin-top: 5%;
  border-radius: 100%;
  position: relative;
}

.row {
  font-size: 0;
}

div {
  vertical-align: top;
}

.green {
  background-color: #4caf50;
  border-top-left-radius: 100%;
  border: 12px solid #fff;
  border-right-width: 6px;
  border-bottom-width: 6px;
}

.red {
  background-color: #f44336;
  border-top-right-radius: 100%;
  border: 12px solid #fff;
  border-left-width: 6px;
  border-bottom-width: 6px;
}

.yellow {
  background-color: #ffeb3b;
  border-bottom-left-radius: 100%;
  border: 12px solid #fff;
  border-right-width: 6px;
  border-top-width: 6px;
}

.blue {
  background-color: #2196f3;
  border-bottom-right-radius: 100%;
  border: 12px solid #fff;
  border-left-width: 6px;
  border-top-width: 6px;
}

.push {
  width: 200px;
  height: 200px;
}

.clickable {
  cursor: pointer;
}

.inline {
  display: inline-block;
  position: relative;
}

.center {
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin: -112px 0 0 -112px;
  border-radius: 100%;
  position: absolute;
  border: 12px solid #fff;
  background-color: #00bcd4;
  text-align: center;
}

h1, h2 {
  margin: 0;
  vertical-align: middle;
}

h1 {
  width: 50px;
  font-size: 30px;
  color: #fff;
  border: 4px solid #fff;
  border-radius: 10px;
  background-color: #ef5350;
  position: relative;
  margin-top: 10px;
}

.label {
  font-size: 15px;
  font-weight: bold;
  color: #263238;
}

.buttons {
  margin: 6px;
}
