@media only screen and (min-width: 361px) {
  table {
    max-width: 500px;
  }
}

@media only screen and (min-width: 350px) {
  br {
    display: none;
  }
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

.board {
  margin: 5% 5% 0;
}

svg {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background: #14BDAC;
}

td {
  padding: 0;
}

.pieces {
  visibility: hidden;
}

.buttons {
  text-align: center;
}

.buttons button {
  margin: 5px;
}

.symbol {
  margin-right: 20px;
}

.count {
  min-width: 75px;
  text-align: right;
}
