@media only screen and (min-width: 361px) {
  table {
    max-width: 500px;
  }
}

@media only screen and (max-width: 360px) {
  table {
    margin: 5%;
  }
}

@media only screen and (min-width: 350px) {
  br {
    display: none;
  }
}

body {
  background: #14BDAC;
}

table {
  margin-top: 5%;
}

td {
  margin: 0;
  padding: 0;
}

.pieces {
  visibility: hidden;
}

.buttons {
  margin-top: 8px;
  text-align: center;
}

.buttons button {
  margin: 5px;
}

.symbol {
  margin-right: 20px;
}

.count {
  min-width: 75px;
  text-align: right;
}
